@font-face {
    font-family: 'Aller Light';
    font-style: normal;
    font-weight: normal;
    src: local('Aller Light'), url('Aller_Lt.woff') format('woff');
}

@font-face {
    font-family: 'Aller';
    font-style: normal;
    font-weight: normal;
    src: local('Aller'), url('./fonts/Aller_Rg.woff') format('woff');
}

@media (min-width: 1200px) {
    .actu-title {
        height: 570px;
    }
    .actu-subtitle {
        height: 110px;
    }
    .actu-img {
        height: 270px;
        padding-left: 27px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    .actu-title {
        height: 450px;
    }
    .actu-subtitle {
        height: 115px;
    }
    .actu-img {
        height: 305px;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    .actu-title {
        height: 340px;
    }
    .actu-subtitle {
        height: 135px;
    }
    .actu-img {
        height: 215px;
        padding-left: 27px;
    }
}

@media (max-width: 767px) {
    .actu-title {
        height: 180px;
    }
    .actu-subtitle {
        height: 110px;
    }
    .actu-img {
        height: 230px;
        position: relative;
        left: -7px;
    }
}

.actu-date {
    font-family: Aller-Bold;
    font-size: 50px;
    color: #C3C3C3;
    letter-spacing: 0.42px;
    line-height: 56px;
}

.actu-subtitle {
    font-family: Aller-Bold;
    font-size: 25px;
    color: #000000;
    letter-spacing: -0.09px;
    line-height: 30px;
    margin-top: 20px;
}

.actu-desc {
    font-family: Aller;
    font-size: 13px;
    color: #787878;
    letter-spacing: 0.11px;
    line-height: 20px;
    height: 55px;
}

.actu-read-more {
    margin-top: 20px;
    font-family: Aller;
    font-size: 20px;
    color: #3571F4;
    letter-spacing: 0.17px;
    line-height: 31px;
    text-decoration: underline;
}

.actu-img {
    margin-top: 20px;
    margin-bottom: 55px;
}

.actu-row {
    margin-bottom: 60px;
}
