.actu-date {
    font-family: 'Aller Bold';
    font-size: 50px;
    color: #C3C3C3;
    letter-spacing: 0.42px;
    line-height: 56px;
    margin-bottom: 30px;
}

.side-date {
    font-family: 'Aller Bold';
    font-size: 30px;
    color: #C3C3C3;
    letter-spacing: 0.25px;
    line-height: 56px;
    padding-top: 27px;
}

.actu-title {
    font-family: 'Aller Bold';
    font-size: 45px;
    color: #292929;
    letter-spacing: 0.38px;
    line-height: 41px;
    margin-bottom: 50px;
}

.side-title {
    font-family: 'Aller Bold';
    font-size: 20px;
    color: #000000;
    letter-spacing: -0.19px;
    line-height: 21px;
}

.actu-desc {
    font-family: 'Aller Light';
    font-size: 15px;
    color: #292929;
    letter-spacing: 0.13px;
    line-height: 23px;
    margin-bottom: 10px;
}

.thumbnail {
    border: none;
    box-shadow: none;
    border-radius: none;
    width: 100%;
    margin-bottom: 0px;
}

.side-container {
    height: 1120px;
    margin-left: 60px;
    border-bottom: 2px solid #9A9A9A;
}

.side-container-mobile {
    border-top: 1px solid #979797;
    margin-bottom: 30px;
}

.side-bloc {
    overflow-y: scroll;
    height: 1100px;
}

.side-elem {
    padding-right: 5px;
}

.arrow-mobile {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #979797;
}

.row-horizon::-webkit-scrollbar {
    border: 1px solid #3F60FF;
    border-radius: 5px;
}

.row-horizon::-webkit-scrollbar-thumb {
    background: #3F60FF;
    border: 1px solid #3F60FF;
    border-radius: 5px;
}

.side-bloc::-webkit-scrollbar {
    border: 1px solid #979797;
    border-radius: 5px;
    margin-left: 20px;
}

.side-bloc::-webkit-scrollbar-thumb {
    background: #EDEDED;
    border: 1px solid #979797;
    border-radius: 5px;
}
