@media (min-width: 1200px) {
    .actu-background {
        height: 530px;
    }
    .actu-subtitle {
        height: 130px;
    }
    .actu-title {
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 90px;
    }
    .actu-img > img {
        height: 212px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    .actu-background {
        height: 450px;
    }
    .actu-subtitle {
        height: 115px;
    }
    .actu-title {
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 90px;
    }
    .actu-img > img {
        height: 340px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    .actu-background {
        height: 308px;
    }
    .actu-subtitle {
        height: 135px;
    }
    .actu-img > img {
        height: 245px;
    }
    .actu-title {
        height: 70px;
        position: absolute;
        bottom: 0px;
        left: 70px;
    }
}

@media (max-width: 767px) {
    .actu-background {
        height: 220px;
    }
    .actu-subtitle {
        margin-bottom: 30px;
    }
    .actu-title {
        height: 28px;
        position: absolute;
        bottom: 0px;
        left: 13px;
    }
}

.actu-background {
    background-image: url('../images/actu-background.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
}

.actu-date {
    font-family: 'Aller Bold';
    font-size: 50px;
    color: #C3C3C3;
    letter-spacing: 0.42px;
    line-height: 56px;
}

.actu-subtitle {
    font-family: 'Aller Bold';
    font-size: 25px;
    color: #000000;
    letter-spacing: -0.09px;
    line-height: 30px;
    margin-top: 20px;
}

.actu-desc {
    font-family: Aller;
    font-size: 13px;
    color: #787878;
    letter-spacing: 0.11px;
    line-height: 20px;
    height: 70px;
}

.actu-read-more {
    margin-top: 20px;
    font-family: Aller;
    font-size: 20px;
    color: #3571F4;
    letter-spacing: 0.17px;
    height: 35px;
    text-decoration: underline;
}

.actu-img > img {
    margin-bottom: 40px;
    width: 100%;
}

.actu-row {
    margin-bottom: 60px;
}

.my-pagination {
    font-family: 'Aller Bold';
    font-size: 18px;
    color: black;
    letter-spacing: 0.15px;
    margin-bottom: 30px;
}
