@media (min-width: 1200px) {
    .list-product {
        font-size: 25px;
    }
    .list-product li {
        height: 67px;
        display: flex;
        align-items: center;
    }
    .list-product li div {
        position: relative;
        left: 50px;
        width: 90%;
    }
    .subtitle {
        font-size: 50px;
        line-height: 82px;
    }
    .cat-title {
        font-size: 50px;
        line-height: 82px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .list-product {
        font-size: 40px;
    }
    .list-product li {
        height: 157px;
        display: flex;
        align-items: center;
    }
    .list-product li div {
        position: relative;
        left: 40px;
        width: 90%;
    }
    .subtitle {
        font-size: 50px;
        line-height: 82px;
    }
    .cat-title {
        font-size: 50px;
        line-height: 82px;
    }
}

@media (max-width: 767px) {
    .list-product {
        font-size: 25px;
    }
    .list-product li {
        height: 100px;
        display: flex;
        align-items: center;
    }
    .list-product li div {
        position: relative;
        left: 30px;
        width: 80%;
    }
    .subtitle {
        font-size: 25px;
        margin-top: 35px;
    }
    .cat-title {
        font-size: 40px;
    }
}

.subtitle {
    font-family: 'Aller Light';
    color: #000000;
    letter-spacing: 0.42px;
}

.yellow-hover li:hover {
    background-image: linear-gradient(90deg, #FF9420 44%, #FFCC08 100%);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.50);
    color: white;
}

.blue-hover li:hover {
    background-image: linear-gradient(-90deg, #3571F4 3%, #001061 100%);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.50);
    color: white;
}

.red-hover li:hover {
    background-image: linear-gradient(90deg, #70000D 45%, #F0001D 98%);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.50);
    color: white;
}

.cat-title {
    font-family: LucidaGrande;
    color: #000000;
    letter-spacing: 0.42px;
    margin-bottom: 35px;
}

.list-product {
    font-family: 'Aller';
    color: #000000;
    letter-spacing: 0.25px;
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

.cross {
    position: absolute;
    right: -25px;
    top: 15px;
}

.desc {
    padding-left: 60px;
    padding-top: 70px;
}

.yellow {
    color: #FFD200;
}

.big {
    font-size: 30px;
    letter-spacing: 3px;
}

.medium {
    font-size: 20px;
    letter-spacing: 3px;
}

.small {
    font-size: 15px;
    letter-spacing: 3px;
}

.bloc-list {
    background: #FFFFFF;
    box-shadow: 0 8px 15px 1px rgba(93, 93, 93, 0.50);
    margin-bottom: 70px;
    position: relative;
}
