@media (min-width: 1200px) {
    .faq-desc {
        position: relative;
        top: 440px;
    }
    .blue-line {
        position: relative;
        top: 438px;
    }
}

.breadcrumbs {
    margin-top: 30px;
}

.breadcrumbs a {
    color: black;
    font-family: 'Aller Light';
    font-size: 12px;
}

.cgu-title {
    font-family: 'Aller';
    font-size: 40px;
    color: #292929;
    letter-spacing: 0.33px;
    line-height: 47px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.bloc-cgu {
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

.content {
    font-family: 'Aller';
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1269px;
    overflow-y: scroll;
}

.article {
    font-family: 'Aller Bold';
    font-size: 16px;
}

.content::-webkit-scrollbar {
    border: 1px solid #3F60FF;
    border-radius: 5px;
    width: 30px;
}

.content::-webkit-scrollbar-thumb {
    background: #3F60FF;
    border: 1px solid #3F60FF;
    border-radius: 5px;
}

.faq {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'NexaBold';
    font-size: 18px;
    color: #222222;
    letter-spacing: 0.15px;
    line-height: 33px;
}

.faq-desc-title {
    font-family: 'NexaBold';
    font-size: 16px;
    color: #292929;
    letter-spacing: 0.13px;
    line-height: 15px;
    padding-top: 20px;
}

.faq-desc-content {
    font-family: 'Aller Light';
    font-size: 12px;
    text-align: justify;
    padding-bottom: 20px;
    line-height: 18px;
}

.faq-desc {
    background: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.50);
}

.blue-line {
    border-top: solid 2px #4464FF;
}
