@font-face {
    font-family: "Aller";
    src: url("../fonts/Aller/Aller_Rg.eot?") format("eot"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype"), url("../fonts/Aller/Aller_Rg.svg#Aller") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aller Bold";
    src: url("../fonts/Aller_Bold/Aller_Bd.eot?") format("eot"), url("../fonts/Aller_Bold/Aller_Bd.woff") format("woff"), url("../fonts/Aller_Bold/Aller_Bd.ttf") format("truetype"), url("../fonts/Aller_Bold/Aller_Bd.svg#Aller-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aller Light";
    src: url("../fonts/Aller_Bold/Aller_Lt.eot?") format("eot"), url("../fonts/Aller_Bold/Aller_Lt.woff") format("woff"), url("../fonts/Aller_Bold/Aller_Lt.ttf") format("truetype"), url("../fonts/Aller_Bold/Aller_Lt.svg#Aller-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NexaBold";
    src: url("../fonts/Nexa_Bold/NexaBold.ttf.eot") format("eot"), url("../fonts/Nexa_Bold/NexaBold.ttf.woff") format("woff"), url("../fonts/Nexa_Bold/NexaBold.ttf.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1200px) {
    header {
        height: 101px;
        background-color: black;
    }
    header #logo {
        position: relative;
        top: 15px;
    }
    header #search {
        position: relative;
        top: 37px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    header {
        height: 57px;
        background-color: black;
    }
    header #logo-tab {
        position: relative;
        top: 6px;
    }
    header #div-menu {
        position: relative;
        top: 17px;
    }
    header #search {
        position: relative;
        top: 17px;
    }
    #header-mobile {
        top: 56px;
    }
}

@media (max-width: 767px) {
    header {
        height: 39px;
        background-color: black;
    }
    header #logo-mob {
        position: relative;
        top: 7px;
    }
    header #div-menu {
        position: relative;
        top: 6px;
    }
    #header-mobile {
        top: 36px;
    }
}

header #cross-mobile-menu {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

header #mobile-menu {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header ul {
    position: relative;
    top: 40px;
}

header a {
    color: white;
    font-weight: bold;
    font-family: 'Aller';
    letter-spacing: 1px;
    font-size: 15px;
}

header a:hover {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: none;
}

header a:not(:hover) {
    color: white;
    text-decoration: none;
}

@media (min-width: 1200px) {
    header .lspace {
        padding-left: 15px;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

header .dropdown-menu {
    width: 40px;
    border-radius: 0px;
    padding: 0;
}

header .dropdown-menu a {
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    font-size: 13px;
    color: black;
}

header .dropdown-menu a:hover {
    background-color: #EF001D;
    background-image: none;
    color: white;
}

.full {
    margin: 0 auto;
    width: 100%;
}

.bloc-center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.my-breadcrumb {
    font-family: 'Aller Light';
    color: #2D2D2D;
    letter-spacing: 0.08px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.thumbnail {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    box-shadow: none;
    border-radius: none;
}

#header-mobile {
    position: absolute;
    background: black;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 9999;
}

#header-mobile ul {
    margin-top: 10px;
    margin-bottom: 20px;
    top: 0px;
}

.red {
    color: #F42425;
}

.blue {
    color: #4464FF;
}

.yellow {
    color: #F6A623;
}

.red-gradient {
    background-image: linear-gradient(90deg,  #70000D 16%, #F0001D 100%);
}

.blue-gradient {
    background-image: linear-gradient(-90deg, #3571F4 3%, #001061 100%);
}

.yellow-gradient {
    background-image: linear-gradient(90deg, #F76B1C 0%, #FBDA61 97%);
}
