@font-face {
    font-family: 'Aller';
    font-style: normal;
    font-weight: normal;
    src: local('Aller'), url('./fonts/Aller_Rg.woff') format('woff');
}

.c1 {
    background-image: linear-gradient(-5deg, #001061 0%, #3571F4 60%);
}

.c2 {
    background-image: linear-gradient(0deg, #F0001D 36%, #70000D 100%);
}

.c3 {
    background-image: linear-gradient(0deg, #FFCC08 42%, #FF9420 100%);
}

@media (min-width: 1200px) {
    .bloc-circle {
        position: relative;
        top: -110px;
    }
    .circle {
        border-width: 10px;
        height: 220px;
        width: 220px;
    }
    .title-circle {
        padding-top: 10px;
        padding-left: 5px;
        font-size: 15px;
        letter-spacing: 1.5px;
        height: 65px;
    }
    .atiquette {
        height: 160px;
        position: relative;
        left: 43px;
        top: 19px;
    }
    .affiche {
        height: 115px;
        position: relative;
        top: 2px;
        left: 42px;
    }
    .pub {
        height: 100px;
        position: relative;
        left: 45px;
        top: 30px;
    }
    .rouleau {
        height: 60px;
        position: relative;
        top: 10px;
        left: 55px;
    }
    .postit {
        height: 55px;
        position: relative;
        top: 35px;
        left: 35px;
    }
    .intercalaire {
        height: 85px;
        position: relative;
        top: 35px;
        left: 35px;
    }
    .bloc {
        height: 65px;
        position: relative;
        left: 65px;
        top: 20px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .bloc-circle {
        padding-left: 75px;
    }
    .title-circle {
        position: relative;
        right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    .title-circle {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .circle {
        border-width: 10px;
        height: 190px;
        width: 190px;
    }
    .title-circle {
        font-family: Aller;
        font-size: 12px;
        letter-spacing: 0.17px;
        padding-top: 5px;
    }
    .bloc-circle {
        position: relative;
        top: -95px;
    }
    .bloc-c1 {
        margin-left: 20px;
    }
    .atiquette {
        height: 140px;
        position: relative;
        top: 15px;
        left: 34px;
    }
    .affiche {
        height: 105px;
        position: relative;
        left: 30px;
        top: 3px;
    }
    .pub {
        height: 95px;
        position: relative;
        left: 40px;
        top: 40px;
    }
    .rouleau {
        height: 50px;
        position: relative;
        left: 30px;
        top: 10px;
    }
    .bloc {
        height: 55px;
        position: relative;
        left: 25px;
    }
    .intercalaire {
        height: 95px;
        position: relative;
        top: 20px;
        left: 15px;
    }
    .postit {
        height: 45px;
        position: relative;
        top: 20px;
        left: 20px;
    }
}

@media (max-width: 767px) {
    .circle {
        border-width: 7px;
        height: 172px;
        width: 172px;
        margin-left: auto;
        margin-right: auto;
    }
    .bloc-circle {
        position: relative;
        top: -70px;
    }
    .atiquette {
        height: 120px;
        position: relative;
        top: 20px;
        left: 35px;
    }
    .affiche {
        height: 95px;
        position: relative;
        left: 30px;
        top: 3px;
    }
    .pub {
        height: 80px;
        position: relative;
        left: 35px;
        top: 40px;
    }
    .rouleau {
        height: 43px;
        position: relative;
        left: 25px;
        top: 10px;
    }
    .bloc {
        height: 52px;
        position: relative;
        left: 35px;
        top: 15px;
    }
    .intercalaire {
        height: 70px;
        position: relative;
        top: 30px;
        left: 30px;
    }
    .postit {
        height: 40px;
        position: relative;
        top: 25px;
        left: 35px;
    }
    .title-circle {
        font-family: Aller;
        font-size: 20px;
        color: #000000;
        letter-spacing: 0.17px;
        line-height: 28px;
        padding-top: 5px;
        margin-bottom: 15px;
    }
}

.intro-mobile {
    background-image: url('../images/intro-mobile.png');
    background-size: cover;
    background-position: center;
    height: 228px;
    width: 100%;
}

.intro-title {
    font-family: NexaBold;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0.21px;
    text-align: center;
    padding-top: 65px;
}

.circle {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

.title-circle {
    text-align: center;
    font-family: Aller;
    color: #000000;
}

.rectangle {
    background: white;
    box-shadow: 0 2px 8px 0 rgba(42, 42, 42, 0.50);
    height: 7px;
    border-color: #979797;
    margin-top: 20px;
    margin-bottom: 30px;
}
