.c1 {
    background-image: linear-gradient(-5deg, #001061 0%, #3571F4 60%);
}

.c2 {
    background-image: linear-gradient(0deg, #F0001D 36%, #70000D 100%);
}

.c3 {
    background-image: linear-gradient(0deg, #FFCC08 42%, #FF9420 100%);
}

@media (min-width: 1200px) {
    .middle-home > img {
        width: 100%;
        height: 330px;
    }
    .bloc-circle {
        position: relative;
        top: -110px;
    }
    .circle {
        border-width: 10px;
        height: 220px;
        width: 220px;
    }
    .title-circle {
        padding-top: 10px;
        padding-left: 5px;
        font-size: 20px;
        letter-spacing: 1.5px;
        height: 95px;
    }
    .atiquette {
        height: 160px;
        position: relative;
        left: 43px;
        top: 19px;
    }
    .affiche {
        height: 115px;
        position: relative;
        top: 2px;
        left: 42px;
    }
    .pub {
        height: 100px;
        position: relative;
        left: 45px;
        top: 30px;
    }
    .rouleau {
        height: 60px;
        position: relative;
        top: 10px;
        left: 55px;
    }
    .postit {
        height: 55px;
        position: relative;
        top: 35px;
        left: 35px;
    }
    .intercalaire {
        height: 85px;
        position: relative;
        top: 35px;
        left: 35px;
    }
    .bloc {
        height: 65px;
        position: relative;
        left: 65px;
        top: 20px;
    }
    .bloc-chiffres {
        height: 245px;
    }
    .chiffres {
        font-size: 70px;
        letter-spacing: 0.67px;
        padding-top: 40px;
    }
    .chiffres-infos {
        font-size: 20px;
        letter-spacing: 0.25px;
    }
    .huile {
        position: relative;
        top: -15px;
        height: 170px;
        display: none;
    }
    .bitmap {
        height: 140px;
        position: relative;
        top: -110px;
        left: 30px;
        display: none;
    }
    .chapelier {
        height: 215px;
        position: relative;
        top: -40px;
        left: 10px;
        display: none;
    }
    .couleur {
        height: 135px;
        position: relative;
        top: -64px;
        left: -2px;
        display: none;
    }
    .bitmap2 {
        position: relative;
        left: 95px;
        top: -135px;
        height: 100px;
        display: none;
    }
    .fourniture {
        height: 220px;
        top: -32px;
        position: relative;
        display: none;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .bloc-circle {
        padding-left: 75px;
    }
    .title-circle {
        position: relative;
        right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    .title-circle {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .middle-home > img {
        width: 100%;
        height: 229px;
    }
    .circle {
        border-width: 10px;
        height: 190px;
        width: 190px;
    }
    .title-circle {
        font-family: 'Aller';
        font-size: 16px;
        letter-spacing: 0.17px;
        padding-top: 5px;
    }
    .bloc-circle {
        position: relative;
        top: -95px;
    }
    .bloc-c1 {
        margin-left: 20px;
    }
    .atiquette {
        height: 140px;
        position: relative;
        top: 15px;
        left: 34px;
    }
    .affiche {
        height: 105px;
        position: relative;
        left: 30px;
        top: 3px;
    }
    .pub {
        height: 95px;
        position: relative;
        left: 40px;
        top: 40px;
    }
    .rouleau {
        height: 50px;
        position: relative;
        left: 30px;
        top: 10px;
    }
    .bloc {
        height: 55px;
        position: relative;
        left: 25px;
    }
    .intercalaire {
        height: 95px;
        position: relative;
        top: 20px;
        left: 15px;
    }
    .postit {
        height: 45px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    .bloc-chiffres {
        height: 366px;
    }
    .chiffres {
        font-size: 60px;
        letter-spacing: 0.67px;
        padding-top: 40px;
    }
    .chiffres-infos {
        font-size: 23px;
        letter-spacing: 0.25px;
    }
    .home-contact {
        text-align: center;
    }
    .contact-infos {
        text-align: center;
    }
    .huile {
        height: 150px;
        position: relative;
        top: -20px;
        display: none;
    }
    .bitmap {
        height: 130px;
        position: relative;
        top: -110px;
        left: 25px;
        display: none;
    }
    .chapelier {
        height: 185px;
        position: relative;
        top: -40px;
        left: 10px;
        display: none;
    }
    .couleur {
        height: 116px;
        position: relative;
        top: -64px;
        left: -2px;
        display: none;
    }
    .bitmap2 {
        position: relative;
        left: 75px;
        top: -130px;
        height: 100px;
        display: none;
    }
    .fourniture {
        height: 195px;
        position: relative;
        top: -32px;
        left: -7px;
        display: none;
    }
}

@media (max-width: 767px) {
    .middle-home > img {
        width: 100%;
        height: 204px;
    }
    .circle {
        border-width: 7px;
        height: 172px;
        width: 172px;
    }
    .bloc-circle {
        position: relative;
        top: -70px;
    }
    .atiquette {
        height: 120px;
        position: relative;
        top: 20px;
        left: 35px;
    }
    .affiche {
        height: 95px;
        position: relative;
        left: 30px;
        top: 3px;
    }
    .pub {
        height: 80px;
        position: relative;
        left: 35px;
        top: 40px;
    }
    .rouleau {
        height: 43px;
        position: relative;
        left: 25px;
        top: 10px;
    }
    .bloc {
        height: 52px;
        position: relative;
        left: 35px;
        top: 15px;
    }
    .intercalaire {
        height: 70px;
        position: relative;
        top: 30px;
        left: 30px;
    }
    .postit {
        height: 40px;
        position: relative;
        top: 25px;
        left: 35px;
    }
    .title-circle {
        font-family: 'Aller';
        font-size: 20px;
        color: #000000;
        letter-spacing: 0.17px;
        line-height: 28px;
        padding-top: 5px;
        margin-bottom: 15px;
    }
    .bloc-chiffres {
        height: 654px;
    }
    .chiffres {
        font-size: 60px;
        letter-spacing: 0.67px;
        padding-top: 34px;
    }
    .chiffres-infos {
        font-size: 23px;
        letter-spacing: 0.25px;
    }
    .home-contact {
        text-align: center;
    }
    .contact-infos {
        text-align: center;
    }
    .huile {
        height: 150px;
        position: relative;
        top: -20px;
        left: -4px;
        display: none;
    }
    .bitmap {
        height: 130px;
        position: relative;
        top: -119px;
        left: 25px;
        display: none;
    }
    .chapelier {
        height: 175px;
        position: relative;
        top: -40px;
        left: 10px;
        display: none;
    }
    .couleur {
        height: 106px;
        position: relative;
        top: -64px;
        display: none;
    }
    .bitmap2 {
        position: relative;
        left: 75px;
        top: -125px;
        height: 85px;
        display: none;
    }
    .fourniture {
        height: 160px;
        position: relative;
        top: -10px;
        display: none;
    }
}

.middle-home {
    margin-bottom: 50px;
}

.bloc-chiffres {
    background: #000000;
}

.chiffres {
    font-family: 'Aller Bold';
    color: #FFFFFF;
    text-align: center;
}

.chiffres-infos {
    font-family: .SFNSDisplay;
    color: #FFFFFF;
    text-align: center;
}

.intro-mobile {
    background-image: url('../images/intro-mobile.png');
    background-size: cover;
    background-position: center;
    height: 228px;
    width: 100%;
}

.intro-title {
    font-family: NexaBold;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0.21px;
    text-align: center;
    padding-top: 65px;
}

.circle {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}

.title-circle {
    text-align: center;
    font-family: 'Aller';
    color: #000000;
}

.rectangle {
    background: white;
    box-shadow: 0 2px 8px 0 rgba(42, 42, 42, 0.50);
    height: 7px;
    border-color: #979797;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-actu {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: Aller;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.17px;
    line-height: 39px;
    height: 50px;
    width: 100%;
    margin-bottom: 68px;
}

.btn-actu-mob {
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: Aller;
    font-size: 18px;
    letter-spacing: 0.17px;
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 50px;
}

.home-contact {
    font-family: Aller;
    font-size: 33px;
    color: #D0011B;
    letter-spacing: 1px;
    padding-top: 40px;
}

.contact-infos {
    font-family: Aller-Light;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.17px;
    line-height: 36px;
}

.btn-devis {
    background-image: linear-gradient(-90deg, #001061 0%, #3571F4 100%);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.50);
    border-radius: 60px;
    font-family: Aller;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.15px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.btn-send {
    background-color: #FFFFFF;
    border: 1px solid #3F60FF;
    font-family: Aller;
    font-size: 18px;
    color: #3F60FF;
    letter-spacing: 1px;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
}

.input-contact {
    background-color: #FFFFFF;
    border: 1px solid #3F60FF;
    font-family: Aller;
    font-size: 18px;
    color: #3F60FF;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.input-height {
    height: 54px;
}

.textarea-height {
    height: 245px;
    padding-top: 10px;
}

.input-contact::-webkit-input-placeholder {
    font-family: GillSans-Light;
    font-size: 16px;
    color: #3F60FF;
    letter-spacing: 0.13px;
    line-height: 28px;
    padding-left: 5px;
}

.input-contact:-moz-placeholder {
    font-family: GillSans-Light;
    font-size: 16px;
    color: #3F60FF;
    letter-sspacing: 0.13px;
    line-height: 28px;
    padding-left: 5px;
}

.input-contact::-moz-placeholder {
    font-family: GillSans-Light;
    font-size: 16px;
    color: #3F60FF;
    letter-spacing: 0.13px;
    line-height: 28px;
    padding-left: 5px;
}

.input-contact:-ms-input-placeholder {
    font-family: GillSans-Light;
    font-size: 16px;
    color: #3F60FF;
    letter-spacing: 0.13px;
    line-height: 28px;
    padding-left: 5px;
}
