@media (min-width: 1200px) {
    .line {
        height: 92px;
    }
    .infos {
        line-height: 132px;
        font-size: 25px;
    }
    .menu {
        position: absolute;
        left: -38px;
        height: 75px;
    }
    .div-products {
        padding-top: 31px;
    }
    .btn-product {
        width: 179px;
    }
    .btn-gammes {
        width: 286px;
        height: 51px;
        position: relative;
        left: -25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .line {
        height: 42px;
    }
    .menu {
        position: absolute;
        left: -94px;
        top: 261px;
    }
    .div-products {
        padding-top: 100px;
        margin-left: -45px;
    }
    .infos {
        font-size: 25px;
    }
    .btn-product {
        width: 198px;
        margin-top: 20px;
    }
    .btn-devis {
        margin-left: 65px;
    }
}

@media (max-width: 767px) {
    .menu {
        position: absolute;
        top: 253px;
        height: 56px;
        left: -56px;
    }
    .div-products {
        padding-top: 19px;
    }
    .infos {
        font-size: 20px;
        padding-top: 20px;
    }
    .btn-product {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 180px;
        margin-top: 20px;
    }
    .btn-devis {
        width: 265px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .btn-gammes {
        width: 252px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
    .product-img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.div-product {
    position: relative;
}

.btn-product {
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: Aller;
    font-size: 13px;
    color: #000000;
    background-color: #FFFFFF;
    letter-spacing: 0.11px;
    height: 35px;
}

.btn-gammes {
    border: 2px solid #FFCC08;
    border-radius: 60px;
    font-family: Aller;
    font-size: 18px;
    color: #F6A623;
    background-color: #FFFFFF;
    letter-spacing: 0.15px;
}

.btn-devis {
    background-image: linear-gradient(90deg, #F76B1C 0%, #FBDA61 97%);
    box-shadow: 0 2px 9px 0 rgba(74, 74, 74, 0.50);
    border-radius: 60px;
    font-family: Aller-Bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.15px;
    width: 250px;
    height: 50px;
    border: 0;
}

.bloc-btns {
    padding-top: 40px;
    margin-bottom: 40px;
}

.infos {
    color: black;
    font-family: Aller Light;
}

.line {
    border-bottom: 1px solid #FFCC08;
}

.breadcrumbs {
    margin-top: 9px;
}

.breadcrumbs a {
    color: black;
    font-family: Aller Light;
    font-size: 12px;
}

.title {
    background-color: #F6F6F6;
    height: 161px;
    marign-top: 10px;
}

.category-title {
    color: #F6A623;
    font-size: 30px;
    font-family: Aller Light;
    margin-top: 20px;
}

.product-title {
    color: #373737;
    font-size: 40px;
    font-family: Aller;
}

.notes {
    font-family: Aller Light;
    color: #565656;
    font-size: 16px;
}

.notes-socle,
.notes-repositionnable {
    border-bottom: 1px solid #B9B9B9;
    margin-right: 10px;
    margin-left: 10px;
}
