@media (min-width: 1200px) {
    .qsn-background {
        height: 530px;
    }
    .qsn-title {
        height: 80px;
        position: absolute;
        bottom: -42px;
        left: 90px;
        font-size: 80px;
        letter-spacing: 0.83px;
        line-height: 39px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    .qsn-background {
        height: 450px;
    }
    .qsn-title {
        height: 80px;
        position: absolute;
        bottom: -45px;
        left: 90px;
        font-size: 70px;
        letter-spacing: 0.58px;
        line-height: 39px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    .qsn-background {
        height: 308px;
    }
    .qsn-title {
        height: 80px;
        position: absolute;
        bottom: -53px;
        left: 90px;
        font-size: 50px;
        letter-spacing: 0.58px;
        line-height: 39px;
    }
}

@media (max-width: 767px) {
    .qsn-background {
        height: 220px;
    }
    .qsn-title {
        height: 28px;
        position: absolute;
        bottom: -6px;
        left: 13px;
    }
}

.qsn-title {
    font-family: Aller-Bold;
    color: #FFFFFF;
}

.qsn-background {
    background-image: url('../images/qui-sommes-nous.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
}
